<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title alt="Sistema Supervisor Lista">Sistema Supervisor Lista</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Style_Sis_Supervisor_Lis.css">

    <!-- CSS Tabla -->
    <link rel="stylesheet" href="/css/bootstrap.table.css">
    <!-- CSS Tabla -->
</head>

<body id="body">
    
   <!-- Header -->
    <header id="cabecera" class="row" th:replace="layout/plantilla :: header_super"></header>
    
    <!-- Aside -->
    <aside class=" menu" id="menu_side" th:replace="layout/plantilla :: aside_supervisor"></aside>
    
    <!-- Main -->
    <main id="contenedor-principal" class="contenedor-principal">
        <section id="contenedor">
            <div id="contenedor-div">
                <h2 class="">LISTA DE PEDIDOS</h2>
            <hr>
            <table id="example" class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Iva</th>
                        <th>Total</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1015</td>
                        <td>27/09/2021</td>
                        <td>Pendiente</td>
                        <td>6.00</td>
                        <td>$320,800</td>
                        <td><button type="button" class="btn btn-secondary" onclick="location.href='/html/Sis_Supervisor_Pedido.html'">Ver Pedido</button></td>
                    </tr>
                    <tr>
                        <td>1012</td>
                        <td>27/09/2021</td>
                        <td>Admitido</td>
                        <td>3.00</td>
                        <td>$170,750</td>
                        <td><button type="button" class="btn btn-secondary" onclick="location.href='/html/Sis_Supervisor_Pedido.html'">Ver Pedido</button></td>
                    </tr>
                    <tr>
                        <td>1013</td>
                        <td>27/09/2021</td>
                        <td>Enviado</td>
                        <td>9.00</td>
                        <td>$86,000</td>
                        <td><button type="button" class="btn btn-secondary" onclick="location.href='/html/Sis_Supervisor_Pedido.html'">Ver Pedido</button></td>
                    </tr>
                </tbody>

                </table>
            </div>
        </section>
    </main>

    <footer id="footer">
        <h4 class="titulo-final ">&copy; SISTEMA DE PEDIDOS 2021</h4>
    </footer>


    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>

    <!-- JS Tabla -->
    <script type="text/javascript" src="/js/jquery.datatable.js"></script>
    <script type="text/javascript" src="/js/bootstrap.table.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <!-- JS Tabla -->
</body>

</html>